@font-face {
  font-family: "bla";
  src: url("/src/assets/fonts/behance-64abe590e834d.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

::selection {
  background-color: #ff8863;
  color: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
