@font-face {
  font-family: "bla";
  src: url("/src/assets/fonts/behance-64abe590e834d.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
